<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Ch03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
   	<description>로깅여부</description>
   	<param-name>logEnable</param-name>
   	<param-value>true</param-value>
   </context-param>
   
   <context-param>
   	<description>로깅단계</description>
   	<param-name>logLevel</param-name>
   	<param-value>5</param-value>
   </context-param>
   
   <!-- 404 에러 페이지 등록 -->
   <error-page>
   	<error-code>404</error-code>
   	<location>/exception/404.jsp</location>
   </error-page>
   
   <!-- 500 에러 페이지 등록 -->
   <error-page>
   	<error-code>500</error-code>
   	<location>/exception/500.jsp</location>
   </error-page>
</web-app>