* {
  margin: 0;
  padding: 0;
  font: normal 12px "돋움";
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
}
input,
textarea {
  outline: none;
}
#wrapper {
  width: 980px;
  height: auto;
  margin: 0 auto;
}

/* 헤더 */
header {
  width: 100%;
  height: 142px;
  position: relative;
}

header > p {
  float: right;
  margin-top: 16px;
}
header img,
.gnb {
  position: absolute;
}
header > a {
  position: absolute;
  left: 394px;
  top: 20px;
}
header > img:nth-child(2) {
  bottom: 70px;
  right: 0;
}
header {
  background-image: url("/FarmStory2/img/head_top_line.png");
  background-repeat: no-repeat;
}
header ul.gnb {
  width: 100%;
  height: 50px;
  bottom: 0;
}
header .gnb > li {
  width: 20%;
  height: 100%;
  float: left;
  padding-top: 10px;
  box-sizing: border-box;
  background-image: url("/FarmStory2/img/head_menu_line.png");
  background-repeat: no-repeat;
}
header .gnb > li:nth-child(1) > a {
  background-image: url("/FarmStory2/img/head_menu1.png");
}
header .gnb > li:nth-child(2) > a {
  background-image: url("/FarmStory2/img/head_menu2.png");
}
header .gnb > li:nth-child(3) > a {
  background-image: url("/FarmStory2/img/head_menu3.png");
}
header .gnb > li:nth-child(4) > a {
  background-image: url("/FarmStory2/img/head_menu4.png");
}
header .gnb > li:nth-child(5) > a {
  background-image: url("/FarmStory2/img/head_menu5.png");
}
header .gnb > li:nth-child(1) > a:hover {
  background-image: url("/FarmStory2/img/head_menu1_ov.png");
}
header .gnb > li:nth-child(2) > a:hover {
  background-image: url("/FarmStory2/img/head_menu2_ov.png");
}
header .gnb > li:nth-child(3) > a:hover {
  background-image: url("/FarmStory2/img/head_menu3_ov.png");
}
header .gnb > li:nth-child(4) > a:hover {
  background-image: url("/FarmStory2/img/head_menu4_ov.png");
}
header .gnb > li:nth-child(5) > a:hover {
  background-image: url("/FarmStory2/img/head_menu5_ov.png");
}
header .gnb > li:nth-child(2) {
  position: relative;
}
header .gnb > li:nth-child(2) > img {
  position: absolute;
  left: 50%;
  top: -15px;
}

header .gnb > li > a {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  font-size: 0;
}

/* 메인 */
main {
  width: 100%;
  height: auto;
}
main > div {
  width: 100%;
  margin-top: 10px;
}
main > .slider {
  height: 312px;
  position: relative;
  overflow: hidden;
  background-image: url("/FarmStory2/img/main_slide_img1.jpg");
}
main > .slider > img {
  position: absolute;
}
main > .slider > img:nth-child(1) {
  left: 40px;
  top: 40px;
}
main > .slider > img:nth-child(2) {
  right: 0;
}
main > .slider > img:nth-child(3) {
  bottom: 10px;
  right: 20px;
}
main > .slider > img:nth-child(4) {
  top: 30px;
  right: 20px;
}
main > .slider > img:nth-child(5) {
  top: 5px;
  right: 5px;
}

main > .quick {
  height: 74px;
  overflow: hidden;
}
main > .quick > div {
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
main > .quick img {
  position: absolute;
}
main > .quick > #sub1 img:nth-child(2) {
  top: 15px;
  left: 20px;
}
main > .quick > #sub2 img:nth-child(2) {
  top: 15px;
  left: 20px;
}

main > .latest {
  height: 186px;
  overflow: hidden;
}
main > .latest > div {
  float: left;
  width: 33.33%;
  height: 100%;
  position: relative;
}
main > .latest img {
  position: absolute;
}

main > .latest img:nth-child(1) {
  left: 20px;
  top: 20px;
}
main > .latest img:nth-child(2) {
  bottom: 10px;
  left: 10px;
}
main > .latest table {
  position : absolute;
  table-layout: fixed;
  bottom: 5px;
  right: 5px;
}

main > .latest table a {
  display: block;
  width: 140px;
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

main > .info {
  height: 154px;
  overflow: hidden;
  border-top: 2px solid #756c65;
  box-sizing: border-box;
}
main > .info > div {
  float: left;
  height: 100%;
  position: relative;
  
}
main > .info > div:nth-child(1) {
  width: 386px;
}
main > .info > div:nth-child(2) {
  width: 230px;
}
main > .info > div:nth-child(3) {
  width: 355px;
}
main > .info > div img {
  position: absolute;
}
main > .info p {
  position: absolute;
}
main > .info > div:nth-child(1) img:nth-child(1) {
  top: 10px;
}
main > .info > div:nth-child(1) img:nth-child(2) {
  left: 10px;
  bottom: 40%;
}
main > .info > div:nth-child(1) img:nth-child(3) {
  top: 45px;
  left: 70px;
}
main > .info > div:nth-child(1) img:nth-child(4) {
  bottom: 10px;
}
main > .info > div:nth-child(1) img:nth-child(5) {
  bottom: 10px;
  left: 130px;
}
main > .info > div:nth-child(1) img:nth-child(6) {
  bottom: 10px;
  left: 260px;
}
main .info .time {
  right: 25px;
  top: 45px;
  line-height: 18px;
}

main > .info > div:nth-child(2) {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}

main > .info > div:nth-child(2) img:nth-child(1) {
  top: 10px;
  left: 15px;
}
main > .info .account {
    left: 15px;
    top: 40px;
    line-height: 18px;
}
main > .info > div > .info_img_community{
	cursor : pointer;
}

/* 서브페이지 공통 */
#sub {
  width: 100%;
  height: auto;
}
#sub > div {
  width: 100%;
  height: 184px;
  background-image: url("/FarmStory2/img/sub_top_bg.jpg");
  position: relative;
}
#sub > div > img {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
#sub > section {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#sub > section > aside {
  float: left;
  width: 176px;
  height: 650px;
  background-image: url("/FarmStory2/img/sub_aside_bg_line.png");
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  z-index: 2;
}
#sub > section > aside > img,
#lnb {
  position: absolute;
}
#sub > section > aside > img:nth-child(1) {
  top: 20px;
  left: 15px;
}
#sub > section > aside > ul {
  width: 175px;
  height: 233px;
  background-image: url("/FarmStory2/img/sub_aside_bg_lnb.png");
  background-repeat: no-repeat;
  margin-top: 80px;
  padding-top: 26px;
  box-sizing: border-box;
}
#sub > section > aside > ul > li {
  width: 100%;
  height: 29px;
  margin-bottom: 6px;
  box-sizing: border-box;
}

#sub > section > article {
  float: left;
  width: 798px;
  min-height: 650px;
  padding-left: 40px;
  box-sizing: border-box;
}
#sub > section > article > nav {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 40px;
}

.subNav {
	position: relative;
}
.subNav > img {
	position: absolute;
	bottom: 0;
}
.subNav > p {
	position: absolute;
	bottom: 0;
	right: 0;
}
.subNav > p > em {
	color : green;
}
/* 팜스토리소개 */
#sub > .cate1 > aside > ul > li:nth-child(1) > a:hover {
  content: url("/FarmStory2/img/sub_cate1_lnb1_ov.png");
}
#sub > .cate1 > aside > ul > li:nth-child(2) > a:hover {
  content: url("/FarmStory2/img/sub_cate1_lnb2_ov.png");
}
#sub > .cate1 > aside > ul > li:nth-child(1).on > a {
  content: url("/FarmStory2/img/sub_cate1_lnb1_ov.png");
}
#sub > .cate1 > aside > ul > li:nth-child(2).on > a {
  content: url("/FarmStory2/img/sub_cate1_lnb2_ov.png");
}

/* 장보기 */
#sub > .cate2 > aside > ul > li:nth-child(1).on > a {
  content: url("/FarmStory2/img/sub_cate2_lnb1_ov.png");
}
/* 농작물이야기 */
#sub > .cate3 > aside > ul > li:nth-child(1).on > a {
  content: url("/FarmStory2/img/sub_cate3_lnb1_ov.png");
}
#sub > .cate3 > aside > ul > li:nth-child(2).on > a {
  content: url("/FarmStory2/img/sub_cate3_lnb2_ov.png");
}
#sub > .cate3 > aside > ul > li:nth-child(3).on > a {
  content: url("/FarmStory2/img/sub_cate3_lnb3_ov.png");
}
#sub > .cate3 > aside > ul > li:nth-child(1) > a:hover {
  content: url("/FarmStory2/img/sub_cate3_lnb1_ov.png");
}
#sub > .cate3 > aside > ul > li:nth-child(2) > a:hover {
  content: url("/FarmStory2/img/sub_cate3_lnb2_ov.png");
}
#sub > .cate3 > aside > ul > li:nth-child(3) > a:hover {
  content: url("/FarmStory2/img/sub_cate3_lnb3_ov.png");
}
/* 이벤트 */
#sub > .cate4 > aside > ul > li:nth-child(1).on > a {
  content: url("/FarmStory2/img/sub_cate4_lnb1_ov.png");
}
#sub > .cate4 > aside > ul > li:nth-child(1) > a:hover {
  content: url("/FarmStory2/img/sub_cate4_lnb1_ov.png");
}

/* 커뮤니티 */
#sub > .cate5 > aside > ul > li:nth-child(1).on > a {
  content: url("/FarmStory2/img/sub_cate5_lnb1_ov.png");
}
#sub > .cate5 > aside > ul > li:nth-child(2).on > a {
  content: url("/FarmStory2/img/sub_cate5_lnb2_ov.png");
}
#sub > .cate5 > aside > ul > li:nth-child(3).on > a {
  content: url("/FarmStory2/img/sub_cate5_lnb3_ov.png");
}
#sub > .cate5 > aside > ul > li:nth-child(4).on > a {
  content: url("/FarmStory2/img/sub_cate5_lnb4_ov.png");
}
#sub > .cate5 > aside > ul > li:nth-child(5).on > a {
  content: url("/FarmStory2/img/sub_cate5_lnb5_ov.png");
}
#sub > .cate5 > aside > ul > li:nth-child(1) > a:hover {
  content: url("/FarmStory2/img/sub_cate5_lnb1_ov.png");
}
#sub > .cate5 > aside > ul > li:nth-child(2) > a:hover {
  content: url("/FarmStory2/img/sub_cate5_lnb2_ov.png");
}
#sub > .cate5 > aside > ul > li:nth-child(3) > a:hover {
  content: url("/FarmStory2/img/sub_cate5_lnb3_ov.png");
}
#sub > .cate5 > aside > ul > li:nth-child(4) > a:hover {
  content: url("/FarmStory2/img/sub_cate5_lnb4_ov.png");
}
#sub > .cate5 > aside > ul > li:nth-child(5) > a:hover {
  content: url("/FarmStory2/img/sub_cate5_lnb5_ov.png");
}

/* 푸터 */
footer {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  background-image: url("/FarmStory2/img/footer_top_line.png");
  background-repeat: no-repeat;
  background-position: top;
  box-sizing: border-box;
}
footer > img {
  margin-top: 5px;
}

footer > p{
  float: right;
  font-size: 11px;
  color: #585858;
  margin-top: 26px;
  margin-right: 16px;
  line-height: 18px;
}

footer > p > em {
  color: #888;
  font-weight: bold;
}

#tabDiv{
  position: relative;
}


.loading {
	display: block;
	width: 60px;
	margin: 20px auto;
}

/* 탭 커스텀 */
.ui-widget-header {
    border: none;
    border-bottom: 1px solid #aaaaaa;
    background: none;
    color: #222222;
    font-weight: bold;
}
.ui-widget.ui-widget-content {
    border: none;
}
.ui-widget-content {
    border: none;
    background: #ffffff;
    color: #222222;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}

#tabs .txt > li {    
    border-bottom: 1px solid #d1d1d1;
    line-height: 26px;
}

#tabs .txt > li > a {
    color: #666;
}
.directionSp{
	font-weight: bold;
    color: #91BA15;	
}